{{outlet}}

<div class="navbar">
  <div class="navbar__logo">?</div>
  <button class="btn btn--success" {{action 'newGame'}}>New Game</button>
</div>

{{#if matchMessage}}
  <div class="alert  {{if status "alert--success" "alert--warning"}}">{{matchMessage}}</div>
{{/if}}

<div class="container">
  {{#if winner}}<div class="container__winner">Winner! Winner</div>{{/if}}
  {{#each cards as |card|}}
    {{match-card card=card action=(action 'matcher' card)}}
  {{/each}}
</div>